@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

.navbar-brand{
    font-family: "pacifico";
    font-size: 35px;
}
.navbar{
    padding: 0.5rem 1rem;
}
body{
    font-family: "Lato";
}
.nav-link {
    font-size: 16px;
    color: black;
    margin: 15px;
    font-family: 'Roboto Condensed';
}
.temp{
    padding: 13px 46px;
    margin: 4%;
    background-color: transparent;
    border: 1px solid #dee2e6;
}
.temp:hover{
    background-color: #00E8E8;
    color: white;
}
.site-content{
    text-align: center;
    background-image: url("https://duttrohan0302.github.io/dec16_bootstrapUI/images/image2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.site-title {
padding-top: 9.7%;
    padding-bottom: 1%;
    font-size: 50px;
    text-align: center;
    font-family: 'Righteous';
    color: white;
}
.site-desc {
    font-size: 16px;
    padding-left: 2%;
    text-align: center;
    font-family: 'Righteous';
    color: white;
    padding-top: 0.5%;
}
.buttons{
    padding-top:2%;
    padding-bottom:10%;
}
.buy-btn , .know-btn{
    margin-left: 10px;
    margin-right: 10px;
    padding: 1rem;
}
.buy-btn{
    background-color: black;
}
.buy-btn:hover{
    background-color: #343a40;
    border: 1px solid #343a40;
}
.know-btn{
    background-color: bisque;
    color: black;
    border: 1px solid bisque
}
.know-btn:hover{
    background-color: ivory;
    color: black;
    border: 1px solid ivory;
}
.section-1{
    text-align: center;
    margin-top: 2%;
}
h1{
    font-size: 2.5em;
}
.heading-2{
    margin-bottom: 2%;
}
.para1{
    color:rgba(0, 0, 0, 0.59);
    width: 68%;
    text-align: center;
    margin: auto;
    padding-bottom: 2%;
}
.card{
    width: 20rem;
}
.cards{
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 6%;
    margin-left: 65px;
    margin-right:65px;
}
p{
    color:rgba(0, 0, 0, 0.59);
}
.card1,.card2,.card3{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.section-2{
    text-align: center;
    background-image: url("https://duttrohan0302.github.io/dec16_bootstrapUI/images/image3.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.head-1{
    padding-top: 12%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Righteous';
    color: white;
}
.para2{
    font-size: 18px;
    padding-left: 2%;
    font-family: 'ubuntu';
    color: whitesmoke;
    padding-top: 1.5%;
    padding-bottom: 4.5%;
    width: 80%;
    margin: auto;
    text-align: left;
}
.shw-btn{
    margin-bottom: 11%;
    width: 15%;
    padding: 10px;
}
.icon{
    font-size: 1.5em;
    font-weight: 900;
    color: lightseagreen;
}
.icon1{
    margin-left: -32px;
    padding-right: 5px;
}
.icon2{
    margin-left: -49px;
    padding-right: 5px;
}
.icon3{
    margin-left: -50px;
    padding-right: 5px;
}
.icon4{
    margin-left: -59px;
    padding-right: 5px;
}
.icon5{
    margin-left: -50px;
    padding-right: 5px;
}
.icon6{
    margin-left: -53px;
    padding-right: 5px;
}
.section-3{
    padding-top:6%;
    padding-bottom: 6%;
    padding-left: 16%;
    padding-right: 10%;

}
.para3{
    width: 80%;
    margin: 0.5rem 0;
}
.text-white{
    color: white;
}
.white{
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 10%;
    font-size: 22px;
}
.row-5{
    margin: auto;
    width: 80%;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.join{
    background-color: green;
    font-size: 40px;
    padding: 10px 25px;
    border-radius: 12px;
}
.section-5{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
h4{
    font-family: 'Righteous';
}
.form-field{
    width: 30%;
    padding: 6px;
    border: 1px solid darkgray;
}
.margin{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.footer{
    text-align:center;
    font-size: 30px;
}
.social{
    padding: 15px;
}
.social1{
    color: rgb(66,103,178);
}
.social2{
    color: rgb(85,172,239);
}
.social3{
    color: #007bff;
}
.social4{
    color:rgb(255,0,0);
}
.copyright{
    color: lightgreen;
}